//Fonts
$font-stack:       'Ubuntu Medium', arial, sans-serif;
$font-stack-add:    arial, sans-serif;
$font-header-menu:  'Ubuntu Condensed', arial, sans-serif;

//Colors
$bg-color: #2B2E34;
$white: #fff;
$black: #000;
$gray: #9D9D9D;
$bg-color-s: #F6F6F6;


//Special-colors
$act-color: #288CEA;
$hov-color: #F3B519;
$gray-l: #17191C;
$gray-m: #373A3E;
$gray-s: #63717f;
$light-g: #E8E8E9;


//sizes
$margin: 36px;

// Border colors
$border-gray-lt: 1px solid $gray-l;

// Font size
$fs-base: 14px;
//13px
$fs-sm: 0.9286rem;
//15px
$fs-md: 1.071rem;
// 16px
$fs-lg: 1.143rem;
// 20px
$fs-title-xs: 1.429rem;
// 24px
$fs-title-md: 1.714rem;
//54px
$fs-title:3.857rem;

